@import url('http://fonts.cdnfonts.com/css/boycott');

body, html{
	height: 100%;
	margin:0;
	font-size: 16px;
	font-family: 'Boycott', sans-serif;
	font-weight: 400;
	color: #CEC59E;
}

.main, .pimg1, .pimg2, .pimg3, .pimg4{
	position: relative;
	opacity: 0.9;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.main{
	width: 100%;
	height: 100vh;
	background-image: url('Main Pic.jpg');
	text-align: center;
	color: #222F24;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main h3{
	font-weight: 100;
	letter-spacing: 3px;
	font-size: 35px;
	color: #2B3B36;
}

.main h1{
	font-size: 180px;
	letter-spacing: 3px;
	font-family: 'Boycott', sans-serif;
}

.main  h1~h3{
	background: #6D865B;
	padding: 5px 0px;
	width: 400px;
	margin-left: 240px;
}


.pimg1{
	background-image: url('1.jpg');
	min-height: 600px;
}

.pimg2{
	background-image: url('2.jpg');
	min-height: 600px;
}

.pimg3{
	background-image: url('3.jpg');
	min-height: 600px;
}

.pimg4{
	background-image: url('4.jpg');
	min-height: 100%;
}

.section{
	text-align: center;
	padding: 60px;
}

.section-light{
	background-color: #96ac86;
	color: #5a7a5f;
}

.section-dark{
	background-color: #3f534d;
	color: #96ac86;
}

.ptext{
	position: absolute;
	top: 44%;
	width: 100%;
	text-align: center;
	color: #C1B685;
	font-size: 60px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

p{
	font-family: 'Open Sans', sans-serif;
}

@media(max-width : 1667px ){
	.mainpimg, .pimg1, .pimg2, .pimg3, .pimg4{
		background-attachment: fixed;
	}
}

*{
	padding: 0;
	margin: 0; 
	font-family: 'Boycott', sans-serif;
	box-sizing: border-box;
}

#navbar{
	padding: 25px 40px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(129, 156, 109, 0.5);
	box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
	transition: .4s;
	backdrop-filter: blur(5px);
}

#logo{
	float: left;
	color: #334741;
	font-size: 30px;
	width: 200px;
	transition: .4s;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
}

#navbar ul{
	display: flex;
	list-style: none;
	float: right;
	padding: 0;
	margin: 0;
}

#navbar ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #2B3B36;
	font-size: 15px;
	padding: 12px 30px;
	line-height: 20px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

#navbar ul li a:hover{
	background-color: rgba(129, 156, 109, 0.7);
	border-radius: 6px;
}

#navbar ul li a.active{
	background-color: #4D6A52;
	color: #fff;
	border-radius: 6px;
}

#navbar button{
	width: 150px;
	height: 40px;
	border: none;
	background: #819C6D;
	color: #334741;
	cursor: pointer;
}