@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Palette+Mosaic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Palette+Mosaic&display=swap'); 

	body {
		margin: 0;
	}
	
	#links {
	height: 5%; 
	width: 100%; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #001d8f;
	overflow-x: hidden; 
	padding-top: 10px;
	text-align: center;
}

#links a {
	font-family: Noto Sans;
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color:  #ffcd1a;
	display: block;
}

#links a:hover {
  color: #f2e7df;
}

#link1 {
	width: 48%;
	float: left;
}

#link2 {
	width: 48%;
	float: left;
}

	.background-section {
		float: left;
		width:100%;
		height: 70%;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	/* front page */
	
	.fheading {
	position: absolute;
	top: 20%;
	left: 12.5%;
	font-size: 120px;
	color: white;
	font-family: Palette Mosaic;
}

/* rides page */

	.rheading {
	position: absolute;
	top: 20%;
	left: 22.5%;
	font-size: 120px;
	color: white;
	font-family: Palette Mosaic;
}

	.rsubheading-hh {
	position: absolute;
	top: 57.5%;
	left: 17.5%;
	font-size: 100px;
	color: white;
	font-family: Palette Mosaic;
}

	.rsubheading-mgr {
	position: absolute;
	top: 205%;
	left: 14%;
	font-size: 100px;
	color: white;
	font-family: Palette Mosaic;
}

	.rsubheading-p {
	position: absolute;
	top: 343%;
	left: 15.5%;
	font-size: 100px;
	color: white;
	font-family: Palette Mosaic;
}

/* prices page */

	.pheading1 {
	position: absolute;
	top: 12.5%;
	left: 19%;
	font-size: 120px;
	color: white;
	font-family: Palette Mosaic;
	}
	
	.pheading2 {
	position: absolute;
	top: 27.5%;
	left: 23%;
	font-size: 120px;
	color: white;
	font-family: Palette Mosaic;
	}
	
/* front page */
	
	#blurb {
		float: left;
		width:100%;
		height: 45%;
		background-color: #f545a6;
		text-align: center;
	}
	
	#blurb h2 {
		color: navy;
		font-size: 40px;
	}
	
	#blurb p {
		font-size: 30px;
	}
	
	#gallery {
		float: left;
		width:100%;
		height: 80%;
		background-color: #ffcd1a;
		text-align: center;
	}
	
	#reviews {
		float: left;
		width:100%;
		height: 70%;
		background-color: #001d8f;
	}
	
/* rides page, haunted house */
	
	#haunted-house {
		float: left;
		width:100%;
		height: 75%;
	}
	
	#haunted-left {
		float: left;
		width:50%;
		height: 100%;
	}
	
	#haunted-right {
		float: left;
		width:50%;
		height: 100%;
		background-color: navy;
	}
	
	#haunted-right h2 {
		color: #f52096;
	}
	
/* rides page, merry-go-round*/
	
	#merry-go-round {
		float: left;
		width:100%;
		height: 65%;
	}
	
	#merry-left {
		float: left;
		width:50%;
		height: 100%;
		background-color: #f545a6;
	}
	
	#merry-left h2 {
		color: navy;
	}
	
	#merry-right {
		float: left;
		width:50%;
		height: 100%;
	}
	
/*rides page, kevin the kiwi*/
	
	#pavlova {
		float: left;
		width:100%;
		height: 75%;
	}
	
	#pav-left {
		float: left;
		width:50%;
		height: 100%;
	}
	
	#pav-right {
		float: left;
		width:50%;
		height: 100%;
		background-color: #ffcd1a;
	}
	
	#pav-right h2 {
		color: navy;
	}
	
/*prices page*/
	
	#prices {
		float: left;
		width:100%;
		height: 85%;
		background-color: #ffcd1a;
		text-align: center;
	}
	
	#prices h2 {
		color: navy;
		font-size: 40px;
	}
	
	#prices p {
		font-size: 30px;
		color: navy;
	}
	
	#deals {
		float: left;
		width:100%;
		height: 135%;
		background-color: navy;
		text-align: center;
	}
	
	#deals h2 {
		color: #f545a6;
		font-size: 40px;
	}
	
	#deals p {
		font-size: 30px;
		color: #f545a6;
	}
	
	h1 {
		font-size: 60px;
		color: white;
		font-family: Palette Mosaic;
	}
	
	h2 {
		font-size: 40px;
		color: #003801;
		font-family: Noto Sans;
	}
	
	p {
		font-size: 30px;
		color: #005E02;
		font-family: Noto Sans;
	}
	
	a {
		color: #005E02;
		font-family: Noto Sans;
	}

#links {
	height: 7%; 
	width: 100%; 
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #ebd0bc;
	overflow-x: hidden; 
	padding-top: 10px;
	text-align: center;
}